assets/
.env
reddit-bot-351418-5560ebc49cac.json
__pycache__
video_title.txt
description.txt
.DS_Store
entfernt_entfernt.mp4
temp/*.mp3
encountered.txt
example.wav
.gitignore
temp/0_temp_file_.wav
encountered.txt
temp/1_temp_file_.wav
encountered.txt
